.skills-main-div {
  display: flex;
}
.skills-text-div {
  margin-left: 50px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

/* newly added block - start */
.skills-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* newly added block - end */

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
.circle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 5px;
}

.circle.advanced {
  background-color: green; /* Adjust color as needed */
}

.circle.intermediate {
  background-color: yellow; /* Adjust color as needed */
}

.circle.basic {
  background-color: red; /* Adjust color as needed */
}