
.skill-info {
  display: flex;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column; /* Display items in column direction */
  align-items: center;
  margin-bottom: 5px;
}

.skill-name {
  margin-bottom: 5px; /* Add margin bottom to separate from circles */
}

.circle-container {
  display: flex;
  align-items: center;
}

/* .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 5px;
  margin-top: -10px;
}

.circle.advanced {
  background-color: rgb(0, 255, 0); /* Adjust color as needed 
}

.circle.intermediate {
  background-color: green; /* Adjust color as needed 
}

.circle.basic {
  background-color: orange; /* Adjust color as needed 
} */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 20px; /* Adjust as needed */
}

.legend {
  display: flex;
  margin-bottom: 20px; /* Adjust as needed */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust as needed */
}


.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Define different shades of green */
.circle:nth-child(1) { background-color: #E6E6E6; } /* Lightest/weakest green */
.circle:nth-child(2) { background-color: #CCCCCC; }
.circle:nth-child(3) { background-color: #999999; }
.circle:nth-child(4) { background-color: #666666; }
.circle:nth-child(5) { background-color: #333333; } /* Darkest/strongest green */
